@tailwind base;
@tailwind components;
@tailwind utilities;

/* embla.css */
.embla {
    border-radius: 10px;
    overflow: hidden;
}
.embla__container {
    display: flex;
}
.embla__slide {
    position: relative;
    min-width: 100%;
}

:root {
    scroll-behavior: smooth;
}

body {
    color: #ededed;
    background-color: rgb(2 6 23);
    font-family: var(--font-poppins);
}
