@tailwind base;
@tailwind components;
@tailwind utilities;

/* embla.css */
.embla {
    border-radius: 10px;
    overflow: hidden;
}
.embla__container {
    display: flex;
}
.embla__slide {
    position: relative;
    min-width: 100%;
}

:root {
    scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: rgb(2 6 23);
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background-color: var(--background);
    font-family: var(--font-poppins);
}
